body{
    background-color: black;
    color: white;
}
.container{
    /* border: 2px solid red; */
    background-color: rgb(red, green, blue);
    width:80%;
    margin: auto;
    padding:
}
.heading{
    font-family: 'Lobster', cursive;
    
}
span{
    color: red;
}
#marvel{
    color:red;
    margin-left:25px;
}
#title{
    text-align: center;
    font-size: 90px;
}
#img.div{
    /* border:2px solid red; */
    
}

#image{
    width: 350px;;
    border-radius: 20px;
    display: block;
    margin: auto;
}
#life{
    text-align: center;
}
#info{
    font-size: 25px;
    text-align: justify;
    margin: auto 20px;
    text-indent: 50px;
}

li{
  line: height 3rem; ;
}
#footer{
    width:80%;
    margin:auto;
    font-size: 32px;

}
#link{
    text-decoration: none;
    color: white;
    border: 1px solid darkorange;
    padding: 10px;
    background-color: black;
    border-radius: 15px;
}
#link:hower{
    background-color: aqua;
    color: red;
}