
*{
    /* margin: 2px; */
    /* padding: 0px; */
    font-family: 'Audiowide', cursive;

}
 
#header{
    /* border: 4px solid red; */
    background-color: black;
    border-bottom: 10px solid red;
    height: 130px;
}
#başlık1{
    color: white;
    padding: 20px 0px 40px 80px;
    float: left;

}
span{
    color: red;
}
#başlık2{
    padding: 50px 50px;
    float: right;

}
.başlık3{

    color: white;
    text-decoration:none;
    margin: 50px;
    font-size: 30px;  
}

.web{
    padding-left: 50px;
    color: white;
}
#main{
    background-image: url("./img/stock-photo-89402279.jpg");width:200%;
    
}
#container2{
    margin: auto;
    padding:100px 100px 100px 300px;
}

#about{
   border: 1px solid red;
   background-color: black;
}
.a{
    color: white;
    font-size: 30px;
    font-family: 'Audiowide', cursive;
}
#a{
    color: red;
    text-align: center;
    font-family: 'Audiowide', cursive;
}